@charset "UTF-8";


@font-face{
    font-family: idroid;
    src: url('tudo/fontes/idroid.otf') 
    format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --cor0:#ffffff;
    --cor1:#04BF8A;
    --cor2:#04bf8a93;
    --cor3:#026873;
    --cor4:#025940;
    --cor5:#024059;
    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
    margin: opx;
    padding: opx;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:var(--cor1) ;
    font-family: var(--fonte-padrao);
    margin: 0px;
}

header{
    font-weight: bold;
    width: 100%;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.712);
    background-image:linear-gradient(to top, #025940 50%, #026873 );
    text-align: center;
    color: white;
    
}
header h1{
    text-shadow: 2px 2px 0px black;
}
header p{
    margin: auto;
}
main{
    background-color: white;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0px 9px 20px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    min-height: 300px;
    max-width: 1010px;
    
}
article strong{
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 2px 3px;
}
article a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 6px;
}
a.externo::after{
    content: '\1f517';
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
div.videos{
    background-color: var(--cor4);
    margin-bottom: 30px;
    margin: 0px -10px 40px -10px;
    padding: 20px;
    position: relative;
    padding-bottom: 58.3%;
}
div.videos > iframe{
   position: absolute;
   top: 5%;
   left: 2%;
   width: 95%;
   height: 90%;
}
nav#principal{ 
    text-align: left;
} 
nav{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
    background-color: #036e50;
    width: 500px;
    height: 20px;
    margin: auto;
    padding: 10px;
    font-family: 'idroid';
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
a:hover{
    color: black;
    text-decoration: underline;
}
a:active{
    color: #024059;
}

h1#titulo{
    color: white;
}
h1{
    font-family: 'idroid';
    color: #03A64A;
    text-indent: 20px;
}
h2{
    font-family: 'idroid';
    color: #03A64A;
    text-indent: 20px;
    background-image:linear-gradient( to right, var(--cor2), transparent );
    width: fit-content;
}
p{
  text-indent: 15px;
  text-align: justify;
  line-height: 1.5em;
}

aside{
    background-color: #04bf8a93;
    border-radius: 10px;
    
    padding: 10px;
} 
aside ul{
 columns: 2;
 list-style-type: '\2713\00a0\00a0';
 list-style-position: inside;   
}
aside h3{
    background: #03a64a8e;
   border-radius: 10px 10px 0px 0px;
   color: white;
   text-align: center;
   margin: -10px -10px 0px -10px;
}

footer{
    background-color: #024059;
    color: #04BF8A;
    padding:10px 10px;
    width: auto;
    margin: 0px;
    text-align: center;
}
footer > span{
    color: white;

}
img#bugdroid{
    margin: auto;
    display: block;
    max-width: 350px;
}

